<h1>Login</h1>

	
	<div>
		<label for="email">Email</label>
		 <input type="email" id="email" name="email">
	</div>
	<div>
		<label for="password">Password</label>
		<input type="password" id="password" name="password" required="">
	</div>
	<button id='login' type="submit">Login</button>
	

<a href="/register">Register</a> 
<script src="/jquery.js"></script>



<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script type="text/javascript">
$(document).on('click','#login',function()
{
var email = $('#email').val();
var password = $('#password').val();
$.post( "/logincode", { email: email, password: password })
  .done(function( data ) {
    if(data.status == true)
	{
		window.location.href = "/";// redirect to localhost:1585/
	}else{
		swal("Login Failed !!", "invalid credential", "error");
	}
  });
});
</script>